
.header {
   display: grid;
   grid-template-columns: 1fr 148px 1fr;
   align-items: center;
   margin: 92px 26px 92px 26px;
   font-size: 18px;
 }

 .header__menu {
   display: flex;
   padding: 22px;
 }

 .header__links-list {
   display: flex;
   align-items: center;
   list-style: circle;
   column-gap: 35px;
 }

 .header_link {
   list-style: none;
   text-decoration: none;
 }

 .header__links-list-item_no-bullit {
  list-style-type: none;
 }

 .header_logo-image {
   display: flex;
   width: 148px;
   height: 105px;
   
 }

 .header_link {
   text-underline-offset: 4px;
 }

 .header_address {
   display: flex;
   flex-direction: column;
   padding-left: 184px;
   font-style: normal;
}

 .overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 0.5);
 }

 .cover {
  background-image: url("../images/cover.jpg");
  position: relative;
  z-index: 0;
  background-position: cover;
  background-size: cover;
 }

  .cover-title {
  padding: 165px 50px 0;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.22;
  z-index: 1;
  position: relative;
  margin-bottom: 127px;
 }

 .aligned-text {
  display: block;
 }

 .aligned-text_center {
  text-align: center;
 }

 .aligned-text_right {
  text-align: right;
 }

 .letter-spacing-extended {
  letter-spacing: 0.6em;
 }

 .letter-spacing-default {
  letter-spacing: 0.3em;
 }

 .no-letter-spacing {
  letter-spacing: 0em;
 }

 .cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px 51px 78px;
  line-height: 28px;
  z-index: 1;
  position: relative;
 }

 .cover__description-text {
  margin-top: 11px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 0.8em;
 }

 .bet-button {
  text-transform: uppercase;
  color: #fff;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  border: 1px #fff solid;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  cursor: pointer;
 }

 .lots{
   position: absolute;
   padding: 176px 26px 0;
 }

 .lots__heading {
   position: relative;
   z-index: 2;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 40px;
   margin-bottom: 27px;
   margin-left: 38px;

 }

 .lots__card-list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 25px;
 }

 .lots__card-list-item {
   width: 334px;
   list-style: none;
   
 }

 .card {
   position: relative;
   min-height: 100%;
   padding: 48px 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 563px;
   width: 334px;
   text-decoration: none;
 }

 .card-link {
   display: block;
   height: 100%;
   text-decoration: none;
 }

 .card__title {
   position: relative;
   z-index: 2;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 22px;
   color: white;
   text-decoration: underline;
 }

 .card__text {
   position: relative;
   z-index: 2;
   color: white;
   font-size: 20px;
   font-weight: normal;
   text-decoration: none;
  }
   

 .card_type_film {
 background-image:url(../images/card-lot-01.jpg);
 }

 .card_type_book {
 background-image:url(../images/card-lot-02.jpg);
 }

 .card_type_picture {
 background-image:url(../images/card-lot-03.jpg);
 }

 .lots_look-more-link{
   display: block;
   font-size: 20px;
   font-weight: normal;
   color: black;
   margin-top: 31px;
   margin-left: 40px;
}

.about {
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-template-rows: 1fr 2fr;
   gap: 72px;
   padding: 1050px 71px 180px;
   max-width: 1052px;
   max-height: 595px;
 }
 
 .about__logo {
   width: 240px;
   height: 240px;
   background-color: black;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .about__logo-image {
   width: 63%;
   height: auto;
 }
 
 .about__headling {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 40px;
   color: #000;
   margin-bottom: 100px;
   margin-top: 101px;
 }

 .about__text {
   word-spacing: 1px;
   font-size: 20px;
   text-transform: none;
 }
 
 .about__descriptions {
   display: flex;
   flex-direction: column;
   gap: 24px;
   font-size: 20px;
   font-weight: normal;
}

.footer {
   width: 1000px;
   min-height: 98px;
   display: grid;
   font-weight: normal;
   font-style: normal;
   grid-template-columns: 1fr 160px 1fr;
   align-items: center;
   margin: 536px 50px 88px 50px;
   font-size: 18px;
   
 }

 .footer_address {
   font-style: normal;
   margin-top: 32px;
 }

 .footer__menu {
   text-align: center;

 }

 .footer__menu-list {
   list-style: none;
 }
 

 .footer__menu-link_active {
   text-decoration:  none;
 }


 .footer__social-list {
   display: flex;
   gap: 48px;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   align-content: flex-start;
   width: 240px;
   height: auto;
   margin-left: 180px;
   margin-bottom: 20px;
   list-style: none;
 }

 .footer__social-list-item {
   width: 48px;
   min-height: 48px;
}

 